*{
    margin: 0;
    padding: 0;
    font-family: century Gothic ;
}

header{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(FTF/f1.jpg);
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;

}
ul li{
    display: inline;

}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
    
}
ul li a:hover{
    background-color: #fff;
    color: black;

}
ul li.active a{
    background-color: #fff;
    color: black;

}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    margin: 10px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.title h1{
    color: #fff;
    font-size: 60px;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;

}
.btn:hover{
    background-color: #fff;
    color: black;

}
